{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaVersion": 2019
  },
  "rules": {
    "prefer-const": 0,
    "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "^_"}]
  }
}
