{
  "root": true,
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "no-console": 0,
    "no-var": 2,
    "require-atomic-updates": 0
  }
}
