extends layout

block body
  .content
    h3 What is Ogre?
    p Ogre is a web client (service) that translates spatial files into <a href="http://geojson.org">GeoJSON</a> using the <a href="http://www.gdal.org/ogr2ogr.html">ogr2ogr</a> command line tool for use in JavaScript web applications and frameworks.

    h3 What formats does it support?
    p Currently Ogre supports the following transformations:
    table.table.table-bordered.table-striped.table-condensed
      thead
        tr
          th Type
          th Single File Format
          th Zipped (.zip) File Format
          th Notes
      tbody
        tr
          th BNA
          td .bna
          td -
          td
        tr
          th CSV
          td .csv
          td -
          td Common spatial columns (e.g. lon, lat, the_geom) will be translated, for less common, use a VRT file
        tr
          th DGN
          td .dgn
          td -
          td
        tr
          th DXF
          td .dxf
          td -
          td
        tr
          th ESRI Shapefile
          td -
          td .shp, .dbf, and .shx (.prj optional)
          td
        tr
          th GeoConcept
          td .gxt or .txt
          td -
          td
        tr
          th GeoJSON
          td .json or .geojson
          td -
          td
        tr
          th GeoRSS
          td .rss, .georss, or .xml
          td -
          td
        tr
          th GML
          td .gml
          td .gml and .xsd
          td
        tr
          th GMT
          td .gmt
          td -
          td
        tr
          th GPX
          td .gpx
          td -
          td
        tr
          th Interlis 1
          td .itf
          td .itf and .ili (.fmt optional)
          td
        tr
          th KML / KMZ
          td .kml or .kmz
          td -
          td
        tr
          th MapInfo
          td -
          td .tab, .map, .id, and .dat
          td
        tr
          th S-57
          td .000
          td .000 (.001-.00N optional)
          td
        tr
          th TIGER
          td -
          td at least an .rt1
          td
        tr
          th VRT
          td -
          td .vrt with any other spatial file
          td For more information on how to use VRT files, see the <a href="http://www.gdal.org/ogr/drv_vrt.html">full VRT documentation</a>

    h3 Accessing Ogre using a POST request
    p You can perform Ogre transformations directly by making a HTTP POST request:
    p: b Convert to GeoJSON
    code http://ogre.adc4gis.com/convert</code> with the following params:
    ul
      li <code>upload</code> - the file being uploaded
      li <code>sourceSrs</code> (optional) - the original projection
      li <code>targetSrs</code> (optional) - the target projection
      li <code>forcePlainText</code> (optional) - force `text/plain` instead of `application/json`
      li <code>skipFailures</code> (optional) - skip failures
      li <code>callback</code> (optional) - a JSONP callback function name

    p: b Convert from GeoJSON to Shapefile (or specified format)
    p: code http://ogre.adc4gis.com/convertJson</code> with <b>one of the following</b> params:
    ul
      li <code>json</code> - text of the GeoJSON file
      li <code>jsonUrl</code> - the URL for a remote GeoJSON file
      li <code>outputName</code> (optional) - the name for the resulting zip file
      li <code>skipFailures</code> (optional) - skip failures
      li <code>format</code> (optional) - File format supported by the <a href="https://github.com/wavded/ogr2ogr">ogr2ogr wrapper</a>

    h3 Where can I watch the project status, report issues, contribute, or fork the code?
    p Issues and feature requests can be submitted <a href="http://github.com/wavded/ogre/issues">here</a> and to watch, fork and/or contribute to the project, <a href="http://github.com/wavded/ogre">visit the github page</a>.

    p.text-muted "Orc Head" drawing by <a href="http://www.openclipart.org/detail/71203">Jason J. Patterson</a>
