<form action="convert" method="post" enctype="multipart/form-data">
    File*: <input type="file" name="upload"/><br/>
    Callback: <input name="callback"/>
    <button>Go</button>
</form>
<small>* - must be a supported format listed below</small>

