<!doctype html>
<html>
    <head>
        <title>Ogre - ogr2ogr web client</title>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="wrap">
            <img src="ogre.png" class="ogre"/>
            <h1><a href="/">Ogre</a></h1>
            <h2>ogr2ogr web client</h2>
            <form action="/convert" method="post" enctype="multipart/form-data">
                File*: <input type="file" name="upload"/><br/>
                VRT File: <input type="file" name="vrt"/><br/>
                JSONP Callback: <input name="callback"/><br/>
                Force Plain Text: <input type="checkbox" name="forcePlainText" value="true"/><br/><br/>
                <button name="convert">Convert</button>
                <button name="view">View In Browser</button>
            </form>
            <small>* - must be a supported format</small>

            <%-body%>

        </div>
    </body>
</html>

