doctype html
html
  head
    title Ogre - ogr2ogr web client

    link(href='//fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet')
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/lumen/bootstrap.min.css', rel='stylesheet')

    link(href="style.css", rel="stylesheet")
  body
    .container
      img.ogre(src="ogre.svg")
      h1: a(href="/") Ogre
      p ogr2ogr web client
      br
      .row
        .col-md-6
          .panel.panel-primary
            .panel-heading
              h3.panel-title Convert to GeoJSON
            .panel-body
              form.form-horizontal(role="form" action="/convert", method="post", enctype="multipart/form-data")
                .form-group
                  label.col-sm-3.control-label(for='upload') File*:
                  .col-sm-9
                    input#upload.form-control(type="file", name="upload")
                    p.help-block Must be a supported format. See below.
                .form-group
                  label.col-sm-3.control-label(for='callback') JSONP Callback:
                  .col-sm-9
                    input#callback.form-control(name="callback")
                .form-group
                  label.col-sm-3.control-label(for='sourceSrs') Source SRS:
                  .col-sm-9
                    input#sourceSrs.form-control(name="sourceSrs", placeholder="e.g. EPSG:4326")
                .form-group
                  label.col-sm-3.control-label(for='targetSrs') Target SRS:
                  .col-sm-9
                    input#targetSrs.form-control(name="targetSrs", placeholder="e.g. EPSG:4326")
                .form-group
                  .col-sm-9.col-sm-offset-3
                    .checkbox
                      label
                        input(name="rfc7946", type='checkbox')
                        | Create Mapbox-compatible file (RFC7946)
                  .col-sm-9.col-sm-offset-3
                    .checkbox
                      label
                        input(name="skipFailures", type='checkbox')
                        | Skip failures
                  .col-sm-9.col-sm-offset-3
                    .checkbox
                      label
                        input(name="forceDownload", type='checkbox')
                        | Force download
                .form-group
                  .col-sm-9.col-sm-offset-3
                    button.btn.btn-primary(name="convert") Convert to GeoJSON
                    p.help-block Note: GeoJSON can only support one layer

        .col-md-6
          .panel.panel-warning
            .panel-heading
              h3.panel-title Convert from GeoJSON
            .panel-body
              form.form-horizontal(role="form" action="/convertJson", method="post")
                .form-group
                  label.col-sm-3.control-label(for='json') GeoJSON:
                  .col-sm-9
                    textarea#json.form-control(name="json", rows=10).
                      { "type": "FeatureCollection",
                        "features": [{
                          "type": "Feature",
                          "geometry": { "type": "Point", "coordinates": [102.0, 0.5] },
                          "properties": { "prop0": "value0" }
                        }]
                      }
                .form-group
                  label.col-sm-3.control-label(for='jsonUrl') GeoJSON URL:
                  .col-sm-9
                    input#jsonUrl.form-control(name="jsonUrl", type="url", placeholder="e.g. http://path.to/sample.json")
                .form-group
                  label.col-sm-3.control-label(for='name') Output Name:
                  .col-sm-9
                    input#name.form-control(name="outputName", placeholder="e.g. myfile.zip")
                .form-group
                  .col-sm-9.col-sm-offset-3
                    .checkbox
                      label
                        input(name="skipFailures", type='checkbox')
                        | Skip failures
                .form-group
                  .col-sm-9.col-sm-offset-3
                    button.btn.btn-warning(name="convert") Convert to Shapefile
                    p.help-block Note: Shapefiles can only support one geometry type
      hr
      block body
