<div class="content">
    <h3>What is Ogre?</h3>
    <p>Ogre is a web client (service) that translates spatial files into <a href="http://geojson.org">GeoJSON</a> using the <a href="http://www.gdal.org/ogr2ogr.html">ogr2ogr</a> command line tool for use in JavaScript web applications and frameworks (like <a href="http://openlayers.org">OpenLayers</a>).
    <h3>What formats does it support?</h3>
    <p>Currently Ogre supports the following transformations:</p>
    <table border="1" cellpadding="5" width="100%">
        <thead>
            <tr>
                <th>Type</th>
                <th>Single File Format</th>
                <th>Zipped (.zip) File Format</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>BNA</th>
                <td>.bna</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <th>CSV</th>
                <td>.csv</td>
                <td>-</td>
                <td>Common spatial columns (e.g. lon, lat, the_geom) will be translated, for less common, use a VRT file</td>            
            </tr>
            <tr>
                <th>DGN</th>
                <td>.dgn</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <th>DXF</th>
                <td>.dxf</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <th>ESRI Shapefile</th>
                <td>-</td>
                <td>.shp, .dbf, and .shx (.prj optional)</td>
                <td></td>
            </tr>
            <tr>
                <th>GeoConcept</th>
                <td>.gxt or .txt</td>
                <td>-</td>
                <td></td>            
            </tr>            
            <tr>
                <th>GeoJSON</th>
                <td>.json or .geojson</td>
                <td>-</td>
                <td></td>            
            </tr>
            <tr>
                <th>GeoRSS</th>
                <td>.rss, .georss, or .xml</td>
                <td>-</td>
                <td></td>            
            </tr>
            <tr>
                <th>GML</th>
                <td>.gml</td>
                <td>.gml and .xsd</td>
                <td></td>            
            </tr>
            <tr>
                <th>GMT</th>
                <td>.gmt</td>
                <td>-</td>
                <td></td>            
            </tr>
            <tr>
                <th>GPX</th>
                <td>.gpx</td>
                <td>-</td>
                <td>Known to return invalid JSON, use with caution, see <a href="http://trac.osgeo.org/gdal/ticket/3842">ticket</a>.</td>            
            </tr>
            <tr>
                <th>Interlis 1</th>
                <td>.itf</td>
                <td>.itf and .ili (.fmt optional)</td>
                <td></td>
            </tr>
            <tr>
                <th>KML / KMZ</th>
                <td>.kml or .kmz</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <th>MapInfo</th>
                <td>-</td>
                <td>.tab, .map, .id, and .dat</td>
                <td></td>
            </tr>
            <tr>
                <th>S-57</th>
                <td>.000</td>
                <td>.000 (.001-.00N optional)</td>
                <td>Known to return invalid JSON, use with caution, see <a href="http://trac.osgeo.org/gdal/ticket/3843">ticket</a>.</td>            
            </tr>
            <tr>
                <th>TIGER</th>
                <td>.rt1</td>
                <td>-</td>
                <td></td>
            </tr>
            <tr>
                <th>VRT</th>
                <td>-</td>
                <td>.vrt with any other spatial file</td>
                <td>For more information on how to use VRT files, see the <a href="http://www.gdal.org/ogr/drv_vrt.html">full VRT documentation</td>
            </tr>
        </tbody>
    </table>
    <h3>What are its limitations?</h3>
    <p>Ogre currently has an output size limit of 15MB.</p>
    <h3>Accessing Ogre using a POST request</h3>
    <p>You can perform Ogre transformations directly by making a HTTP POST request to <code>http://ogre.adc4gis.com/convert</code> with the following params:</p>
    <ul>
        <li><code>upload</code> - the file being uploaded
        <li><code>callback</code> (optional) - a JSONP callback function name
        <li><code>forcePlainText</code> (optional) - force return type to "text/plain" instead of "application/json"
    </ul>
    <h3>How can I keep updated on new features / releases?</h3>
    <p>Follow <a href="http://twitter.com/ogre_app">@ogre_app</a> on Twitter.</p>
    <h3>Where can I report issues, contribute, or fork the code?</h3>
    <p>Issues and feature requests can be submitted <a href="http://github.com/wavded/ogre/issues">here</a> and to fork and/or contribute to the project, <a href="http://github.com/wavded/ogre">visit the github page</a>.
    <h3>Where did you get that sweet logo?</h3>
    <p>"Orc Head" drawing by <a href="http://www.openclipart.org/detail/71203">Jason J. Patterson</a>.
</div>

