<!doctype html>
<html>
   <head>
      <title>Ogre - ogr2ogr web client</title>
      <link href="style.css" rel="stylesheet"/>
      <script type="text/javascript">
         var trackcode = '<%-trackcode%>';
         if(trackcode){
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', trackcode]);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         }
      </script>
    </head>
    <body>
       <div class="wrap">
          <img src="ogre.png" class="ogre"/>
          <h1><a href="/">Ogre</a></h1>
          <h2>ogr2ogr web client</h2>
          <form action="/convert" method="post" enctype="multipart/form-data">
             File*: <input type="file" name="upload"/><br/>
             JSONP Callback: <input name="callback"/><br/>
             Force Plain Text: <input type="checkbox" name="forcePlainText" value="true"/><br/><br/>
             <button name="convert">Convert</button>
             <button name="view">View In Browser</button>
          </form>
          <small>* - must be a supported format</small>

          <%-body%>

       </div>
    </body>
 </html>

