extends layout

block body
  .content
    h3 OpenLayers Viewer (Unprojected)
    #map-unprojected.map

    h3 OpenLayers Viewer (Projected onto OSM)
    #map-projected.map

  script(src="openlayers-2.9.1-proj4.min.js")
  script.
    var geojson = !{output};

    OpenLayers.IMAGE_RELOAD_ATTEMPTS = 3;
    OpenLayers.Util.onImageLoadErrorColor = "transparent";
    OpenLayers._getScriptLocation = function(){
        return "http://rs1.adc4gis.com/js/openlayers/2.9.1/";
    };

    window.onload = function(){

        // unprojected map

        (function(){

            var parser = new OpenLayers.Format.GeoJSON(),
                map = new OpenLayers.Map('map-unprojected', {allOverlays: true}),
                vector = new OpenLayers.Layer.Vector("Upload"),
                features

            map.addLayer(vector)
            features = parser.read(geojson)
            vector.addFeatures(features)

            map.zoomToExtent(vector.getDataExtent())

        }());

        // projected on osm

        (function(){

            var parser = new OpenLayers.Format.GeoJSON({
                    externalProjection: new OpenLayers.Projection("EPSG:4326"),
                    internalProjection: new OpenLayers.Projection("EPSG:900913")
                }),
                map = new OpenLayers.Map('map-projected'),
                osm = new OpenLayers.Layer.OSM(),
                vector = new OpenLayers.Layer.Vector("Upload"),
                features

            map.addLayers([osm,vector])
            features = parser.read(geojson)
            vector.addFeatures(features)

            map.zoomToExtent(vector.getDataExtent())

        }())
    }

